/* .App {
  
} */

.App{
  background-image: linear-gradient(#000000, #006267, #00f2ff  );
  padding: 3%;
}
.Header{
  background-color: #000000;
  /* margin-top: 20px; */
}

b{
  color: #00f2ff;
  font-size: 40px;
}
strong{
  color: aqua;
}
button{
  background-color: #00f2ff;
  border-radius: 20px;
  margin-left: 90px;
  /* wid; */
}
button:hover{
  box-shadow: 0 0 10px #00f2ff;
}

#mainsquare{
  /* margin-top: 50px; */
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border: 5px #2a4d71 solid;
  border-radius: 50px;
  font-size: 25px;
  font-family: 'Comic Sans';
  color: white;
  background-color: rgb(3, 35, 42);
  height: 600px;
  padding: 20px;
  padding-left: 50px;
}

#myimage{
  float: right;
  padding-right: 150px;
  border-radius: 50px;
  /* height: '300px'; */
  filter: drop-shadow(5px 5px 10px #00f2ff);
  mix-blend-mode: unset;
}

#logo{
  margin: 11px;
  filter: invert(91%) sepia(92%) saturate(7455%) hue-rotate(92deg) brightness(113%) contrast(111%);
  padding-left: 50px;
  margin-bottom: 20px;
}




.contact{
  padding: 50px;
  
}